sample_data/files/100K.dat
sample_data/files/16M.dat
sample_data/files/4M.dat
sample_data/files/1M.dat
/*.sublime-*
*.py[cod]
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
*.egg
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
/*.log
